extends ../layout/main

block varibles
  - var title = 'Mardi Gras';
  - var description = 'Mardi Gras - New Orleans';
  - var pageClass = 'index-page';

block content
  section
    .container
      h1 Jade - node tamplate engine
      p hello pug
  example-component